/* 
    Document   : style1
    Created on : 18 Jan, 2020, 12:03:53 PM
    Author     : nikit
    Description:
        Purpose of the stylesheet follows.
*/
*
{
    marigin:0;
    padding:0;
}
header
{
    background-image: url(pic2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.main-nav
{
    float:right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li
{
    display: inline-block;
}

.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    
}

.main-nav li.active a
{
  border: 1px solid white;
  
}
.main-nav li a:hover
{
    border: 1px solid white;
}

body
{
    font-family: monospace;
}
.row
{
    max-width: 1200px;
    margin: auto;    
}

